<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Andmeid | Admin</title>
		<link rel="stylesheet" type="text/css" href="/andmeid/css/admin.css">
	</head>
	<body>
		<%- include("partials/header") %>
		<div class="display">
			<input type="text" class="id" onblur="api('users', this.value, {f: display, d: this.parentElement})">
		</div>
	</body>
</html>
