<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Andmeid</title>
		<link rel="stylesheet" type="text/css" href="/andmeid/css/home.css">
	</head>
	<body onload="initForm()">
		<%- include("partials/header") %>
		<% if (user.id != 7276846) { %>
			<div class="notification">Currently WIP! This does NOT properly work!</div>
		<% } %>
		<div id="main">
			<%- include("partials/form") %>
		</div>
	</body>
</html>
