<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Andmeid | <%= `${type[0].toUpperCase()}${type.slice(1)}` %></title>
	</head>
	<body>
		<%- include("partials/header") %>
		<div class="display">
			<input type="text" class="id" onblur="api('<%= type %>', this.value, {size: 'f', replace: document.getElementsByClassName('display')[0].lastElementChild})">
			<div class="invisible">This is a placeholder~</div>
		</div>
	</body>
</html>
