<ul id="menu">
	<link rel="stylesheet" type="text/css" href="/menu.css">
	<script type="text/javascript" src="./menu.js"></script>
	<li class="menu-list-element"><a class="menu-button" href="/">Home</a></li>
	<li class="menu-list-element dropdown">
		<a href="javascript:void(0)" class="menu-button dropbtn" onclick="stay(this)">Jump to...</a>
		<div class="dropdown-content">
			<ul id="tournament-list">
				<% for (let i = 0; i < tournaments.length; i++) { %>
					<li class="tournament-list-element"><a class="tournament-shortcut" href="#<%= tournaments[i].id %>"><%= tournaments[i].name %></a></li>
				<% } %>
			</ul>
		</div>
	</li>
	<% if (user && user.roles.admin) { %>
		<script type="text/javascript" src="./admin.js"></script>
		<li class="menu-list-element dropdown">
			<a href="javascript:void(0)" class="menu-button dropbtn" onclick="stay(this)">Admin</a>
			<div class="dropdown-content">
				<a href="javascript:void(0)" onclick="changeDisplay('add')">Add a tournament</a>
				<a href="javascript:void(0)" onclick="changeDisplay('rem')">Remove a tournament</a>
				<a href="javascript:void(0)" onclick="changeDisplay('imp')">Import from JSON file</a>
			</div>
		</li>
	<% } %>
</ul>
