<form id="manual" action="create" method="POST">
	<script type="text/javascript" src="/andmeid/js/form.js"></script>
	<div id="left">
		<div class="title"></div>
		<div class="explanations">
			
		</div>
		<button type="button" onclick="addMatch(1)">New match</button>
		<div id="matches"></div>
	</div>
	<div id="right">
		<div class="title"></div>
		<div class="explanations">
			
		</div>
		<button type="button" onclick="addMap(1)">New map</button>
		<div id="mappool"></div>
	</div>
</form>
