<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Taevas' place</title>
		<link rel="stylesheet" type="text/css" href="/home.css">
	</head>
	<body>
		<div id="main">
			<div id="main_image">
				<ul id="main_menu">
					<li class="menu_button menu_li_right"><a href="/referee">Tournaments I reffed in</a></li>
					<li class="menu_button menu_li_right"><a href="/player">Tournaments I played in</a></li>
				</ul>
			</div>
		</div>
		<%- include("partials/footer") %>
	</body>
</html>
