<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>taevas.xyz</title>
		<link rel="stylesheet" type="text/css" href="./root/css/home.css">
	</head>
	<body>
		<div id="main">
			<a id="left" href="/history">
				<span>TOURNAMENT HISTORY</span>
			</a>
			<a id="right" href="/layer01">
				<span>LAYER01</span>
			</a>
		</div>
	</body>
</html>