<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LAYER01 | LOGIN</title>
		<link rel="stylesheet" type="text/css" href="./css/misc.css">
	</head>
	<body>
		<div id="message">
			<% if (status.code) { %>
				<h1><%= status.code %></h1>
			<% } %>
			<% if (status.reason) { %>
				<h2><%= status.reason %></h2>
				<a href="https://osu.ppy.sh/oauth/authorize?response_type=code&client_id=11451&redirect_uri=https://taevas.xyz/layer01/login">Click here to try to login</a>
			<% } %>
			<% if (status.user) { %> <!-- in theory it's currently impossible -->
				<p>Nice to see you here, <%= status.user.username %>!</p>
			<% } %>
			<a href="/layer01">Click here to come back to LAYER01</a>
		</div>
	</body>
</html>
