<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LAYER01 | PLAYER REG</title>
		<link rel="stylesheet" type="text/css" href="./css/regs.css">
	</head>
	<body>
		<%- include("partials/menu") %>
		<div id="main">
			<h1>PLAYER REGISTRATION</h1>
			<% if (message) { %>
				<h3 id="message"><%= message %></h3>
			<% } %>
			<form method="POST" action="">
				<div class="form_part" id="div_discord">
					<h3>What is your Discord?</h3>
					<h5>If you haven't already, please join the <a href="https://discord.gg/sHR2kC6dWf" target="_blank">Discord Server</a></h5>
					<label for="discord"><input type="text" name="discord" id="discord" value="<%= user.discord ? user.discord : '' %>" maxlength="40" required></label>
				</div>
				<div class="form_part" id="div_timezone">
					<h3>What is your timezone?</h3>
					<h5>For example "UTC+1", <a href="https://www.timeanddate.com/time/map/">click here if you need help</a></h5>
					<label for="timezone"><input type="text" name="timezone" id="timezone" value="<%= user.timezone ? user.timezone : '' %>" maxlength="15" required></label>
				</div>
				<input type="submit" id="submit" value="Join the tournament!">
			</form>
		</div>
	</body>
</html>
