<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LAYER01 | RULES</title>
		<link rel="stylesheet" type="text/css" href="./css/rules.css">
	</head>
	<body>
		<%- include("partials/menu") %>
		<div id="main">
			<h1>RULES</h1>
			<div id="rules">
				<div id="layer01">
					<h2>WHAT IS LAYER01 LIKE?</h2>
					<p>LAYER01 is a 1v1 double-elimination osu! tournament played in the osu! gamemode<br>It will use qualifiers to determine which players should advance to the bracket stage<br>All maps will be played with Scorev2 and No-Fail<br>Detailed informations can be found below</p>
				</div>
				<div id="participants">
					<h2>WHO IS ALLOWED TO PLAY?</h2>
					<p>LAYER01 is an osu! tournament targetting players that are in the 75k-125k rank range in the osu! gamemode<br>Players that are not within that rank range at the end of the registrations period* will not be allowed to play<br>Players that have a staff position in this tournament other than referee**, streamer or commentator, will not be allowed to play<br>Players that have reached a top 3 position in <a href="https://osu.ppy.sh/community/forums/topics/1424031" target="_blank">Cyberia's Dancefloors</a> will not be allowed to play</p>
					<p>Players that are not allowed to play will be removed from the player list during the screening process<br>The screening process will take place during the week qualifiers are played<br>During the screening process, sus<!--sus :flushed:-->picious players may end up getting removed from the player list as well</p>
					<p>*The end of the registrations period is available on the main page, though note that the exact hour is 00:00:00 UTC+0
					<p>**Note that self-reffing will not be allowed</p>
				</div>
				<div id="disqualification">
					<h2>CAN I GET DISQUALIFIED?</h2>
					<p>You may get disqualified from the tournament outside of the screening process for these reasons:</p>
					<ul>
						<li>Getting restricted on osu!</li>
						<li>Violation of osu!'s, Twitch's or Discord's TOS</li>
						<li>Excessive misbehaving (includes breaking the Discord server's rules)</li>
						<li>Not being found on the tournament's Discord server (Make sure to join the Discord server and to set your nickname to be your osu! nickname on there!)</li>
					</ul>
				</div>
				<div id="playlists">
					<h2>COMPOSITION AND SIZE OF PLAYLISTS</h2>
					<p>The Qualifiers playlist will be composed of 4 NMs, 2 HDs, 2 HRs, 2 DTs and 1 EZ<br>Playlists X, Y and Z will be composed of 6 NMs, 4 HDs, 4 HRs, 4 DTs and 1 EZ</p>
					<ul>
						<li>NM1: Consistency/Aim</li>
						<li>NM2: Bursts/Streams</li>
						<li>NM3: Alt</li>
						<li>NM4: Tech</li>
						<li>NM5: Speed</li>
						<li>NM6: Gimmick</li>
					</ul>
					<ul>
						<li>HD1: Consistency</li>
						<li>HD2: AR8</li>
						<li>HD3: Streams</li>
						<li>HD4: Tech</li>
					</ul>
					<ul>
						<li>HR1: Consistency</li>
						<li>HR2: CS6.5</li>
						<li>HR3: Streams</li>
						<li>HR4: Tech</li>
					</ul>
					<ul>
						<li>DT1: Consistency</li>
						<li>DT2: Finger control</li>
						<li>DT3: Speed</li>
						<li>DT4: Old</li>
					</ul>
					<ul>
						<li>EZ1: /shrug</li>
					</ul>
					<p>Qualifiers playlist's NM1 SR should be around 5.2*<br>Playlist X's NM1 SR should be around 4.9*<br>Playlist Y's NM1 SR should be around 5.2*<br>Playlist Z's NM1 SR should be around 5.5*</p>
				</div>
				<div id="qualifiers">
					<h2>THE QUALIFIERS PROCEDURE</h2>
					<p>Each player will be able to schedule and play in a Qualifier Lobby during the entire week, until the next Monday 12 UTC<br>Players are able to request Extra Qualifier Lobbies if none of the default Qualifiers Lobbies is convenient enough for them, though it is not guaranteed that their request will be accepted (depends of the availability of referees)<br>The referee will wait 5 minutes maximum for any player that is late, and will then proceed to start the lobby</p>
					<p>Maps will be played in order, no warmup allowed, while maps that were missed for some reason will be played after the last map (EZ1)<br>A player may be allowed to replay a map under special circumstances, such as a disconnect, but that decision is still left to the referee in the interest of fairness</p>
					<p>HR and DT maps may be played with an additional HD mod<br>Therefore those maps will be put as "Freemod" by the referee, but for example, HR maps will still require HRNF from the player, and any mod other than HR, HD and NF will not be accepted<br>The HD multiplier for those maps will be nullified; a 1.06 divider will be applied to scores with an HD mod on HR and DT maps once qualifier results are calculated</p>
					<p>The seeding of a player is determined by their average rank on the maps of the qualifiers playlist during their qualifier lobby<br>The top 16 players will advance to the bracket stage, starting with Round of 16</p>
				</div>
				<div id="matches">
					<h2>THE MATCH PROCEDURE</h2>
					<p>Each match will have a default schedule, players are free to reschedule their match using the reschedule procedure<br>If a player is not in the match’s lobby 10 minutes after the scheduled time, their opponent will win by default (unless something is agreed on by everyone involved)<br>If both players are too late, unless they agree on rescheduling, the first player to appear in the Discord will win the match by default<br>Warmups are NOT allowed</p>
					<p>All matches will be BO13, the three playlists will always be X, Y and Z<br>In each match, both players will need to ban two maps (ABBA)<br>Double-picking (except for NM) and double-banning (except for NM) is not allowed</p>
					<p>Like for Qualifiers, HR and DT maps may be played with an additional HD mod<br>Therefore those maps will be put as "Freemod" by the referee, but for example, HR maps will still require HRNF from the player, and any mod other than HR, HD and NF will not be accepted<br>The HD multiplier for those maps will be nullified; a 1.06 divider will be applied to scores with an HD mod on HR and DT maps by the referee</p>
					<p>Once both players are ready, they will start by DMing their referee which playlist they choose to ban<br>The one remaining playlist will be played<br>If the two players ban the same playlist, the referee will `!roll 2` in order to determine which playlist will be played</p>
					<p>Once the playlist of the match is determined, both players will use the `!roll` command<br>Winner of the roll decides of the pick order, loser of the roll decides of the ban order</p>
					<p>When both players are at match point, they will DM their referee their third and last ban<br>Note that ban rules (such as double banning) do NOT apply to this third ban<br>The one remaining map will be played<br>If the two players ban the same map, the referee will `!roll 2` in order to determine which map will be played</p>
				</div>
			</div>
		</div>
	</body>
</html>
