h2 {
	padding: 5px 30px;
	margin: 15px auto;
	border-bottom: 3px solid;
	width: fit-content;
}

*[size="f"] {
	width: fit-content;
	margin: auto;
	padding: 20px 100px 10px;
	border: 5px solid;
	border-radius: 20px;
	box-shadow: 10px 10px #000;
}

@media screen and (max-width: 720px) {
	*[size="f"] {
		padding: 10px;
	}
}

.displays {
	margin-top: 20px;
}

.display {
	margin: 5px;
}

.display > div {
	background-color: #0e101a;
}

.copy {
	cursor: pointer;
}
.copy:active {
	background-color: #c8620c;
	color: #FFF;
}

.trigger {
	border-radius: 0;
}

textarea {
	background-color: #0e101a;
	border: 5px solid #c8620c;
	color: #FFF;
	overflow: hidden;
	padding: 5px;
	width: 90%;
	height: 10vw;
	outline: none;
}
textarea:focus {
	box-shadow: 5px 5px #000;
}
