/* ALL ANDMEID CONTENT */

@font-face {
	font-family: LeagueSpartan;
	src: url(../fonts/LeagueSpartan.ttf);
}

html {
	font-family: LeagueSpartan, Arial, sans-serif;
	font-size: 24px;
	background: #151a2d;
	color: #df2e2e;
}

body {
	margin: 0;
	text-align: center;
}

header {
	margin: 20px auto 50px;
	font-size: 64px;
	border-bottom: 5px solid;
	width: 30rem;
	max-width: 80vw;
}

::selection {
	background-color: #df2e2e;
	color: #FFF;
}

a {
	color: inherit;
	text-decoration: none;
}

.link {
	background-color: #171a24;
	color: #c8620c;
}

.link:after {
	content: " =>";
}

.notification {
	margin: 50px auto;
	padding: 20px;
	border: 5px solid;
	border-radius: 53px; /* dang it grandpa */
	width: 128px;
	transform: rotate(4deg);
	box-shadow: 10px 10px #000;
}

.hover {
	height: 7px;
	width: auto;
}

.hover * {
	display: none;
	transform: translate(0px, -17px);
	height: 10px;
	width: 70%;
}

.hover:hover * {
	display: inline-block;
}


/* FORM/INPUT STUFF */

#right {
	margin-top: 40px;
}

.index {
	cursor: pointer;
	display: none;
	border-right: 5px solid;
	width: 40px;
	padding-right: 7px;
	vertical-align: sub;
	text-align: right;
}

input, button {
	font-family: inherit;
	font-weight: bold;
	outline: none;
}

button {
	background-color: #171a24;
	border: 5px solid #c8620c;
	border-radius: 20px;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
	text-decoration: none;
}

input[type=text] {
	background: #171a24;
	border-top: none;
	border-right: none;
	border-bottom: 5px solid #c8620c;
	border-left: 5px solid #c8620c;
	color: #FFF;
	font-size: 16px;
	padding: 10px 0 10px 15px;
	margin: 10px;
	resize: both;
	overflow: hidden;
}

input[type=text]:hover, button:hover {
	border-color: #df2e2e;
}

.match_id, .map_id {
	width: 180px;
}

.mod_id {
	width: 120px;
}

@media screen and (min-width: 720px) {
	#main {
		margin: auto 10vw;
	}

	#left, #right {
		display: block;
	}

	.map, .match {
		display: inline-block;
	}

	.index {
		display: inline-block;
	}
}

