.u .card {
	display: inline-block;
	border-radius: 25px;
	transition: 0.5s;
}

.u .pfp {
	height: 80px;
	width: 80px;
	border-radius: 25%;
	margin-right: 5px;
	float: left;
}

.u .flag {
	float: left;
	height: 40px;
	width: 40px;
}
.u[size="r"] .flag {
	height: 32px;
	width: 32px;
}

.u .name {
	font-weight: bold;
	white-space: nowrap;
}

.u .details {
	display: grid;
}

.u .icon {
	height: 20px;
	margin-right: 6px;
	vertical-align: text-top;
}

.u .discord {
	color: #5865F2;
}

.u .timezone {
	color: #FFF;
}
