<footer>
	<link rel="stylesheet" type="text/css" href="./css/footer.css">
	<div id="cool_stuff">
		<a href="https://osu.ppy.sh/users/7276846">Made by Taevas</a>
		<a href="https://github.com/TTTaevas/taevas.xyz">GitHub repository</a>
	</div>
	<% if (user) { %>
		<div id="login">
			<p style="margin: auto;">Thank you <strong><%= user.username %></strong> for visiting uwu</p>
		</div>
	<% } %>
</footer>
