/* ALL LAYER01 CONTENT */

@font-face {
	font-family: LiberationSans-Bold;
	src: url(../fonts/LiberationSans-Bold.ttf);
}

html {
	font-family: LiberationSans-Bold, Arial, sans-serif;
	scroll-padding-top: 57px;
}

body {
	background-color: #000;
	color: #FFF;
	margin: 0;
	text-align: center;
}

#main {
	padding: 50px 0;
	margin: 0 20px;
}

@media screen and (max-width: 420px) {
	#main {
		padding: 100px 0;
		margin: 0 10px;
	}
}

form {
	display: inline-grid;
}

label:first-of-type {
	margin-top: 20px;
}

input[type=text] {
	padding: 5px 10px;
}

#submit {
	font-family: LiberationSans-Bold, Arial, sans-serif;
	width: fit-content;
	margin: 30px auto;
	padding: 20px;
	font-size: 30px;
	border: 1px solid #FFF;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
}

#submit:hover {
	background-color: #FFF;
	color: #000;
}

#menu {
	position: fixed;
	width: 100vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	border-bottom: 1px solid #FFF;
	z-index: 3;
}

#menu > li {
	float: left;
}

.menu-button {
	display: inline-block;
	color: #FFF;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
}

.logo {
	padding: 6px 30px;
	font-size: 22px;
	font-weight: bold;
}

@media screen and (min-width: 1080px) {
	.logo {
		border-right: 1px solid #FFF;
	}
}

#menu li a:hover {
	background-color: #FFF;
	color: #000;
}

#message {
	font-size: 24px;
	background-color: #FFF;
	color: #000;
	padding: 10px;
	margin: 20px auto;
	width: fit-content;
}

.right {
	float: right;
}
