.playlist_container {
	border: 1px solid;
	width: fit-content;
	margin: 50px auto;
	padding: 0 25px 25px 25px;
}

td {
	border-left: 1px solid;
	border-right: 1px solid;
}

td:first-child {
	border-left: 0px none;
}

td:last-child {
	border-right: 0px none;
}

.playlist {
	margin: auto;
}

.legend {
	font-size: 18px;
	border-bottom: 1px solid;
}

.legend td {
	padding: 0 10px;
}

.map_banner {
	height: 35px;
	width: 100px;
	vertical-align: middle;
}

.map_id {
	padding: 0 10px;
}

.NM {
	color: #88bff0;
}

.HD {
	color: #eedaa1;
}

.HR {
	color: #f79595;
}

.DT {
	color: #ac92e6;
}

.EZ {
	color: #a4d293;
}

.map_name {
	padding: 0 7px;
	margin: 7px 7px;
	display: inline-block;
	min-width: 75%;
	max-width: 50vw;
}

form {
	padding: 10px 15vw;
	margin: 10px;
	border: 1px solid;
}

input {
	margin: 2px 10px;
}

.c_mod {
	width: 35px;
}

.c_id {
	width: 60px;
}

@media screen and (max-width: 830px) {
	td:nth-child(1), td:nth-child(3), td:nth-child(7) {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	.playlist_container {
		padding: 0px 10px 25px 10px;
	}

	td:nth-child(8), td:nth-child(9), td:nth-child(10) {
		display: none;
	}
}
