form > * {
	display: inline-grid;
}

.form_part {
	padding: 10px;
	margin: 10px;
}

#div_discord {
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}

#div_roles {
	border-right: 1px solid red;
	border-top: 1px solid red;
}

#div_experience {
	border-right: 1px solid blue;
	border-left: 1px solid blue;
}

h1 {
	font-size: 50px;
}

h4 {
	font-size: 24px;
	background-color: #FFF;
	color: #000;
	padding: 10px;
	margin: 20px auto;
	width: fit-content;
}

h3 {
	transition: 0.1s;
	font-size: 26px;
	margin: 5px;
}

div:hover > h3 {
	background-color: #FFF;
	color: #000;
}

h5 {
	font-size: 16px;
	margin: 5px;
}

a {
	color: #5865F2;
}

#experience {
	width: 400px;
	max-width: 40vw;
}

@media screen and (max-width: 700px) {
	#experience {
		height: 50px;
	}
}
