form > * {
	display: inline-grid;
}

.form_part {
	padding: 10px;
	margin: 10px;
}

#div_discord {
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}

#div_roles {
	border-right: 1px solid red;
	border-top: 1px solid red;
}

#div_experience {
	border-right: 1px solid blue;
	border-left: 1px solid blue;
}

#div_timezone {
	border-right: 1px solid purple;
	border-left: 1px solid purple;
}

h3 {
	transition: 0.1s;
	font-size: 26px;
	margin: 5px;
}

div:hover > h3 {
	background-color: #FFF;
	color: #000;
}

h5 {
	font-size: 16px;
	margin: 5px;
}

h5 a {
	color: #5865F2;
}

#experience {
	width: 400px;
}

#timezone {
	width: 100px;
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 36px;
		padding-top: 30px;
	}
	#experience {
		width: 70vw;
	}
	form #submit {
		padding: 10px;
	}
}
