h1 {
	font-size: 56px;
}

h2 {
	font-size: 28px;
	text-decoration: underline;
	width: fit-content;
	margin: 10px auto;
	padding: 10px;
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 24px;
	}
}

#rules {
	margin: 0 15vw;
	padding: 1vh 1vw;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}

#rules > * {
	padding: 0.5vh 2vw;
	margin: 0.5vh 1vw;
	transition: 0.3s;
	border: 1px solid #000;
}

#rules > *:hover {
	padding: 3vh 2.4vw;
	margin: 1vh 0.6vw;
	border: 1px solid #FFF;
}

#rules > *:hover h2 {
	background: #FFF;
	color: #000;
}

a {
	color: #d2738a;
}

br {
	margin-bottom: 5px;
}

ul {
	list-style: none;
	padding: 0;
}

/* #rules*/ #layer01 {
	border-left: 1px solid red;
	border-bottom: 1px solid red;
}

/* #rules*/ #participants {
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}

/* #rules*/ #disqualification {
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}

/* #rules*/ #playlists {
	border-top: 1px solid pink;
	border-left: 1px solid pink;
}

/* #rules*/ #qualifiers {
	border-right: 1px solid purple;
	border-bottom: 1px solid purple;
}

/* #rules*/ #matches {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
